.etiqueta {
    font-weight: bold;
    font-size: 18px;
}

.boton {
    padding: 15px;
    margin-right: 25px;
    background-color: #EA7736;
    opacity: 0.8;
    color: white;
    font-size: 16px;
}

.boton:hover {
    background-color: #fff;
    border-color: #EA7736;
    color: #EA7736;
}

.rutas {
    display: flex;
}

.busqueda {
    display: flex;
}

.botones {
    margin-top: 50px;
}

.parteIzquierda {
    display: flow;
}

.parteDerecha {
    display: flow;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.elemB1 {
    margin-bottom: 10px;
    width: 450px;
    height: 40px;
}

.elemB2 {
    margin-left: 10px;
    margin-right: 10px;
    width: 450px;
}

.lista {
    overflow-y: scroll;
    max-height: 200px;
}

.botonB {
    width: 450px;
    height: 50px;
    margin-bottom: 35px;
    background-color: #EA7736;
    opacity: 0.8;
    color: white;
    font-size: 16px;
}

.parteSuperior {
    position: relative;
    height: 420px;
}

.botonB:hover {
    background-color: #fff;
    border-color: #EA7736;
    color: #EA7736;
}

.botonRuta {
    width: 250px;
    height: 25px;
    background-color: #ff914b;
    opacity: 0.8;
    color: white;
    font-size: 12px;
}

.desc {
    width: 400px;
    white-space: pre-wrap;
    word-break: break-word;
}